.left-container {
    height: 95vh;
    width: 375px; 
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    float: left; 
    position: relative;
}  

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

.button-group {
    position: absolute;
    bottom: 10px; /* Distance from the bottom of the container */
    left: 100px;  
}

.button-group button {
    padding: 6px 12px;
    margin-right: 10px;
    cursor: pointer;
}

.doctor-identity {
    position: absolute;
    top: 10px; /* distance from the top */
    right: 10px; /* distance from the right */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* light grey background for visibility */
    border-radius: 5px; /* rounded corners */
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: center; /* center items horizontally */
}

.doctor-identity img {
    width: 50px; /* adjust as needed */
    height: 50px; /* adjust as needed */
    border-radius: 50%; /* makes the image circular */
    margin-bottom: 8px; /* spacing between image and name */
}

.doctor-identity span {
    margin-bottom: 10px; /* spacing between name and button */
}

.doctor-identity .sign-out-btn {
    padding: 5px 10px;
    cursor: pointer;
}

/* Modal styles */
.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 1000;
justify-content: center;
align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 50vw;  /* 50% of the viewport width */
    height: 50vh; /* 50% of the viewport height */
    border-radius: 5px;
    text-align: center;
    overflow: auto; /* Add scrolling if content overflows */
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}